<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.whatstyle.activecollab</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>6AE49B94-FC56-43F9-A135-2E743215A3B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>200F3700-B750-43C3-A7FC-1142802386DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E2C39EB2-75BD-4DED-81DC-4A01B3BFEAA9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>247B9E6D-0828-405A-9A80-C909D580AF04</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Harmen Janssen</string>
	<key>description</key>
	<string>Quickly jump to AC projects from Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ActiveCollab</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ac</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching project...</string>
				<key>script</key>
				<string>query=$1

/usr/local/bin/php ./workflow.php "$query" $AC_USERNAME $AC_PASSWORD $AC_ORG_NAME $AC_SELFHOSTED_URL</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search projects</string>
				<key>title</key>
				<string>ActiveCollab</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6AE49B94-FC56-43F9-A135-2E743215A3B6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>200F3700-B750-43C3-A7FC-1142802386DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>rm ./cache/*</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>247B9E6D-0828-405A-9A80-C909D580AF04</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ac clear cache</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Clear local cache</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E2C39EB2-75BD-4DED-81DC-4A01B3BFEAA9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>200F3700-B750-43C3-A7FC-1142802386DD</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>247B9E6D-0828-405A-9A80-C909D580AF04</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>6AE49B94-FC56-43F9-A135-2E743215A3B6</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>E2C39EB2-75BD-4DED-81DC-4A01B3BFEAA9</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>AC_ORG_NAME</key>
		<string></string>
		<key>AC_PASSWORD</key>
		<string></string>
		<key>AC_SELFHOSTED_URL</key>
		<string></string>
		<key>AC_USERNAME</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>AC_SELFHOSTED_URL</string>
		<string>AC_ORG_NAME</string>
		<string>AC_USERNAME</string>
		<string>AC_PASSWORD</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>www.whatstyle.net</string>
</dict>
</plist>
